.form-container {
    max-width: var(--desktop-width);
    margin: var(--margin-section) auto;
    display: flex;
    justify-content: space-around;

    /* column-gap: 20px;
    row-gap: 20px; */

    /* background-color: beige; */
}

@media (max-width: 767px) {
    .form-container {
        flex-wrap: wrap;
    }
}

.form-container__header-wrapper {
    text-align: right;
}

@media (max-width: 767px) {
    .form-container__header-wrapper {
        text-align: center;
    }
}

.form-container__form-header {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    font-weight: 900;
    line-height: var(--line-height-small);
    margin-bottom: 35px;
}

.form-container__paragraph {
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    color: var(--color-primary-light);
    line-height: var(--line-height-medium);
    font-weight: 300;
}

.form-contact__fileds {
    --gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 70px;
    font-family: var(--font-form);
}

.filed-container {
    position: relative;
    width: 100%;
    display: flex;
    /* background-color: bisque; */
}

.labelForm {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--color-primary-light);
    font-size: 12px;


}

.form-contact__field {
    width: calc(50% - var(--gap));
    margin: calc(var(--gap) / 2);
    background-color: transparent;
    border: 1px solid;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px 0;



}

.form-contact__field--full-row {
    width: calc(100% - var(--gap));
    /* width: 100%; */
}

.form-contact__field-tekstarea {
    height: unset;
    padding-top: 30px;
    /* padding-left: 0; */
}


/* .form-contact__field::placeholder {
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
} */


.form-contact__field:placeholder-shown {
    color: var(--color-primary-light);
}


.form-contact__field:focus {
    box-shadow: 0 0 8px var(--color-dominant);
    border-color: transparent;
    outline: 1px transparent;
}


.form-contact__submit-buton {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-white);
    margin: calc(var(--gap) / 2);
    border: none;
    background: var(--color-dominant);
    padding: 20px 30px;
    cursor: pointer;
    transition: .3s;
    outline: 4px solid transparent;
}

.form-contact__submit-buton:focus {
    outline: 4px solid black;
}