.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
}

@media (orientation: landscape) and (max-width: 820px) {
    .main-navigation {
        height: 50px;
    }

}

.main-navigation__inner {
    margin: 0 auto;
    padding: 0 25px;
    height: 100%;
    max-width: var(--desktop-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.main-navigation__menu {
    display: flex;
}


@media (max-width: 767px) {
    .main-navigation__menu-item {
        display: none;
    }
}

.main-navigation__logo-image {
    display: flex;
}



.main-navigation__menu-item {
    list-style: none;
    margin-left: 25px
}



.main-navigation__menu-item:hover .main-navigation__menu-link {
    background-color: var(--color-dominant);
}

.main-navigation__menu-link {
    font-family: var(--font-primary);
    font-size: var(--font-size-menu);
    text-decoration: none;
    color: var(--color-white);
    padding: 10px;
    transition: background-color .3s;
}


.main-navigation__hamburger-btn {
    width: 30px;
    height: 15px;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    position: relative;
    transform: translateY(-50%);
    transition: 0.3s transform linear;
    display: none;
}

.main-navigation__hamburger-btn::before,
.main-navigation__hamburger-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(11px);
}

.main-navigation__hamburger-btn::after {
    transform: translateY(calc(-50% + 25px));
    transition: 0.3s transform linear;
}

.main-navigation__hamburger-btn:focus {
    transform: rotate(45deg) translateY(calc(-50% + 5px));
    border: none;
}

.main-navigation__hamburger-btn:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}


/* 
.main-navigation__mobile-button-icon {
    width: 16px;
} */

@media (max-width: 767px) {
    .main-navigation__hamburger-btn {
        display: unset;
    }
}