.main-banner {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -60px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
}

@media (max-width: 767px) {
    .main-banner {
        background-image: url(../img/background_mobile.jpg);
    }
}

.main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-black);
    opacity: .7;
}


.main-banner__wrapper {
    margin: 0 auto;
    margin-top: 18vh;
    margin-bottom: 15vh;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}


@media (orientation: landscape) and (max-width: 767px) {
    .main-banner__wrapper {
        margin-bottom: 30vh;
    }
}

.main-banner__header {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    line-height: var(--line-height-small);
    color: var(--color-white);
    font-weight: 900;
}

.header-wrap-large {
    display: block;
}

@media (max-width: 767px) {
    .main-banner__header {
        padding: 20px;
        font-size: 35px;
    }
}

.main-banner__paragraph {
    font-family: var(--font-primary);
    font-size: var(--font-size-small);
    line-height: var(--line-height-large);
    font-weight: 300;
    color: var(--color-white);
    padding: 0 15%;
}


@media (max-width: 767px) {
    .main-banner__paragraph {
        /* font-size: 10px; */
        padding: 0 10%;

    }
}

.main-banner__btn {
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    color: var(--color-white);
    width: 170px;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 20px;

    padding: 10px;
    cursor: pointer;
    border: 2px solid var(--color-dominant);
    background: none;
    transition: background .2s;
}

@media (max-width: 767px) {
    .main-banner__btn {
        max-width: calc((95vw / 2) - 10vw);
        margin-left: 3vw;
        margin-right: 3vw;
    }
}


.main-banner__btn:hover {
    background-color: var(--color-dominant);
}

.main-banner__btn:active {
    background-color: var(--color-dominant);
}

.main-banner__btn:focus,
.main-banner__btn:visited {
    background-color: var(--color-dominant);
}