.services {}

.services-wrapper {
    max-width: 1000px;
    text-align: center;
    margin: var(--margin-section) auto;
}

.services-small-title {
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    text-transform: uppercase;
    font-weight: 700;
}

.services-header {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    font-weight: 900;
    line-height: var(--line-height-small);
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    .services-header {
        font-size: 50px;
    }
}

.services-color-letter {
    color: var(--color-dominant);
}

.services-paragraph {
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    color: var(--color-primary-light);
    line-height: var(--line-height-medium);
    padding: 0 50px;
    font-weight: 300;
}