.tiles {
    max-width: var(--desktop-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tiles-box {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 50px;
    margin: 0px 10px 10px 10px;
    background-color: var(--color-primary);
    transition: .2s;

}

@media (max-width: 991px) {
    .tiles-box {
        flex: auto;
        margin-top: 0vw;
        margin-bottom: 3vw;
        margin-left: 7vw;
        margin-right: 7vw;
    }
}


.tiles-box:hover {
    background-color: var(--color-dominant);
}


.tiles-box-icon {}

.tiles-box-image {
    height: 60px;
}

.tiles-box-header {
    font-family: var(--font-heading);
    font-size: var(--font-size-medium);
    color: var(--color-white);
    line-height: var(--line-height-small);
    margin: 50px 0 0 0;
}

.tiles-divider {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-bottom: 22px;
}

.tiles-divider::before {
    content: "";
    position: absolute;
    border-top: 3px solid white;
    width: 40px;
}


.tiles-paragraph {
    font-family: var(--font-primary);
    font-size: var(--defoult-font-size);
    line-height: var(--line-height-medium);
    color: var(--color-white);
    font-weight: 300;
    padding: 0;
    margin: 0;
}