/* used fonts */
/* font-family: 'Source Sans Pro', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* Arial  */

body {
    box-sizing: border-box;
    font-family: var(--font-primary);
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-size: var(--default-font-size);
    line-height: 1.7;
    color: var(--color-primary);
}

h1 {
    font-family: var(--font-heading);
}