:root {
    /* used fonts */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* Arial  */
    --font-primary: 'Roboto', sans-serif;
    --font-heading: 'Source Sans Pro', sans-serif;
    --font-form: 'Arial';

    /* responsive points */
    --fhd-width: 1920px;
    --desktop-width: 1270px;

    /* colors */
    --color-primary: #202B30;
    --color-dominant: #fb414e;
    --color-menu: rgba(251, 65, 77, 0.7);

    --color-primary-light: #dfdfdf;
    --color-white: #fff;
    --color-black: #000;

    /* FONT SIZES */
    --default-font-size: 1.6rem;
    --font-size-heading: 6rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.2rem;
    --font-size-menu: 1.7rem;

    /* Paragraph format */
    --line-height-small: 1.2;
    --line-height-medium: 1.6;
    --line-height-large: 1.8;


    /* grid */
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-horizontal: 6rem;

}