.works {

    margin: var(--margin-section) auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    gap: 50px;

}

.works-box {
    text-align: center;
    padding: 20px;
    background-color: var(--color-white);
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.041); */


}


.works-icon {}

.works-image {
    height: 60px;
    /* margin: 0; */
}

.works-header {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading_2);
    font-weight: 900;
    margin: 10px 0;
}

.works-paragraph {
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    color: var(--color-primary-light);
    line-height: var(--line-height-medium);
    font-weight: 300;
    margin: 0;
}